In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel("Address_Sorted_File.xlsx")

In [5]:
df['Age'] = df['Age'].astype(str).str.extract(r'(\d+)').astype(float)

In [6]:
df['Diseases'] = df['Diseases'].astype(str).str.upper()
df['Diseases'] = df['Diseases'].str.replace(" AND ", ", ", regex=False)
df['Diseases'] = df['Diseases'].str.replace(", ", ",", regex=False)

In [7]:
df.head()

,Date,S. No.,Name,Age,Gender,Address,Phone Number,Blood Group,Food Preference,Diseases,Date Of Occurance,Duration,Profession,Working Hours
0,2025-06-11,1,ALIVIA PIPLAI,30.0,F,CHAKDAHA,8927200122,O+,NON VEG,"FATTY LIVER,DIGESTIVE",2025-03-01 00:00:00,3MONTHS,SERVICE,5-6 HRS.
1,2025-06-11,2,BULBUL PIPLAI,63.0,F,CHAKDAHA,8927200122,O-,NON VEG,"OSTEOPORESIS,DYSENTRY",2023,LAST 2 YEARS,HOUSE WIFE,09-10 HRS.
2,2025-06-11,3,MONOTOSH PIPLAI,74.0,M,CHAKDAHA,8927200122,O+,NON VEG,"ATRIAL FIBRATION,HIGH BP. CHLOESTROL","2024 , 2016 , 2018","1 YR. ,11 YRS. , 7 YRS.",RETIRED,05-06 HRS.
3,2025-06-11,4,ESHA PIPLAI,36.0,F,CHAKDAHA,7872911777,O-,NON VEG,NORMAL GASTRIC PROBLEM,2015,10 YRS,SERVICE,08-09 HRS.
4,2025-06-11,5,ALO RANI DAS,89.0,F,CHAKDAHA,NOT AVAILABLE,A+,NON VEG,"DIABETIC,HIGH BP,ULCERS","2010-11 , 2015, 2010","14-15 YRS. , 10 YRS. , 15 YRS.",NOT AVAILABLE,NIL

In [8]:
disease_mapping = {
    # ✅ Diabetes Variants
    "DIABETIC": "DIABETES",
    "DIABTIC": "DIABETES",
    "DIABETIC MELLITUS": "DIABETES",
    "DIABETICS": "DIABETES",
    "DIABETIS": "DIABETES",

    # ✅ Cholesterol
    "CHOLESTEROL": "HIGH CHOLESTEROL",
    "CHLOESTROL": "HIGH CHOLESTEROL",
    "HIGH BP. CHLOESTROL": "HIGH CHOLESTEROL",
    "HIGH CHOLOESTROL": "HIGH CHOLESTEROL",
     
     "ASTHAMA":"ASTHMA",
     "HAD OVARIAN CYST OPERATION":"OVARIAN CYST",

    # ✅ Allergy
    "ALLERGIC": "ALLERGY",
    "ALLERGIES": "ALLERGY",
    "ALLERGY PROBLEM": "ALLERGY",
    "BLOOD ALLERGY": "ALLERGY",

    # ✅ Arthritis
    "ARTHRITIS": "ARTHIRITIS",
    "ARITHRITIS":"ARTHIRITIS",

    # ✅ Ulcer / Gastric
    "PEPTIC ULCER": "ULCER",
    "GASTRIC PROBLEM": "ULCER",
    "NORMAL GASTRIC PROBLEM": "ULCER",
    "ULCERS": "ULCER",

    # ✅ Thyroid
    "THYROID": "THYROID DISORDER",
    "HYPOTHYROIDISM": "THYROID DISORDER",

    # ✅ Hypertension / BP
    "HIGH BP": "HYPERTENSION",
    "BP": "HYPERTENSION",
    "HIGH BLOOD PRESSURE": "HYPERTENSION",
    "HYPERTENSIVE": "HYPERTENSION",
    "BLOOD PRESSURE": "HYPERTENSION",

    "ANAEMIC":"BLOOD DISORDER",

    # ✅ Cough/Cold
    "CHRONIC COUGH": "COLD & COUGH",
    "ACUTE COUGH": "COLD & COUGH",
    "COLD": "COLD & COUGH",

    # ✅ Liver
    "CIRRHOSIS OF LIVER": "LIVER DISEASE",
    "CIRROHOSIS OF LIVER": "LIVER DISEASE",
    "LIVER": "LIVER DISEASE",
    "LIVER PROBLEM": "LIVER DISEASE",
    "HAD LIVER PROBLEM": "LIVER DISEASE",
    "FIBROSIS OF LIVER": "LIVER DISEASE",
    "HAVE LIVER PROBLEM": "LIVER DISEASE",

    # ✅ Kidney
    "KIDNEY": "KIDNEY DISEASE",
    "KIDNEY PROBLEM": "KIDNEY DISEASE",
    "HAD KIDNEY PROBLEM": "KIDNEY DISEASE",
    "HAD KIDNEY STONE OPERATION": "KIDNEY DISEASE",
    "DETECTED WITH KIDNEY STONE": "KIDNEY DISEASE",
    "KIDNEY CYST": "KIDNEY DISEASE",
    "KIDNEY FAILURE": "KIDNEY DISEASE",
    "KIDNEY MALFUNCTION": "KIDNEY DISEASE",
    "KIDNEY STONE OPERATION": "KIDNEY DISEASE",
    "KIDNEY STONE OPERATION.": "KIDNEY DISEASE",
    "KIDNEY STONE OPERATED": "KIDNEY DISEASE",
    "HAVE POLYCYSTIC KIDNEY DISEASE": "KIDNEY DISEASE",
    "ACUTE KIDNEY DISEASE ALONGWITH NUMEROUS KIDNEY STONE": "KIDNEY DISEASE",

    # ✅ Heart
    "HAD HEART ATTACK": "HEART DISEASE",
    "HAD OPEN HEART SURGERY": "HEART DISEASE",
    "HEART PROBLEM": "HEART DISEASE",
    "HEART SURGERY": "HEART DISEASE",
    "OPEN HEART SURGERY": "HEART DISEASE",
    "OPEN HEART SYRGERY": "HEART DISEASE",
    "CARDIOVASCULAR DISEASE": "HEART DISEASE",

    # ✅ Gall bladder
    "HAD GALL BLADDER": "GALL BLADDER SURGERY",
    "HAD GALL BLADDER STONE OPERATION": "GALL BLADDER SURGERY",
    "GALL BLADDER STONE OPERATION": "GALL BLADDER SURGERY",
    "HAD GALL BLADDDER OPERATION": "GALL BLADDER SURGERY",
    "GALL BLADDER OPERATION": "GALL BLADDER SURGERY",

    # ✅ Cataract
    "CATARACT OPERATION": "CATARACT",
    "HAD CATARACT OPERATION": "CATARACT",

    # ✅ Spinal/Back
    "SPINAL CORD PROBLEM": "SPINAL ISSUE",
    "CYST IN SPINAL CORD": "SPINAL ISSUE",
    "BACK PAIN": "SPINAL ISSUE",
    "INJURY IN THE LOWER BACK BONE": "SPINAL ISSUE",
    "SPONDYLYSIS": "SPINAL ISSUE",

    # ✅ Nervous
    "NERVOUS BREAKDOWN": "NERVOUS ISSUE",
    "SUDDEN NERVOUS BREAKDOWN": "NERVOUS ISSUE",

    # ✅ PCOS / Hormonal
    "POLYCISTONIC OVARY": "PCOS",
    "POLYCYSTIC OVARIAN DISEASE": "PCOS",
    "POLYCYSTONIC OVARIAN DISEASE": "PCOS",
    "POLYCYSTONIC OVARY": "PCOS",
    "POLYCYSTONIC OVARY SYNDROME": "PCOS",
    "PCOD": "PCOS",
    "PCOS": "PCOS",

    # ✅ Misc Cleanup
    "HAD PAST HISTORY OF BREAST CANCER": "BREAST CANCER",
    "FREQUENT CHEST PAIN": "PAIN",
    "UNUSUAL CHEST PAIN": "PAIN",

    "FREQUENT BODY PAIN": "PAIN",
    "FREQUENT JOINT PAIN": "PAIN",

    "CHRONIC OBSTRUCTIVE PULMONARY DISORDER":"COPD",
    "BREATHING PROBLEM":"COPD",

    "LOW HEAMOGLOBIN": "IRON DEFICIENCY",
    "LOW IRON": "IRON DEFICIENCY",
    "LOW  IRON LEVEL": "IRON DEFICIENCY",

    "LOW PLATELET COUNT": "BLOOD DISORDER",
    "DEFICIENCY OF SODIUM": "ELECTROLYTE IMBALANCE",
    "POTASSIUM": "ELECTROLYTE IMBALANCE",
    "HIGH UREA IN BLOOD": "KIDNEY DISEASE",

    "HANDIKAPPED": "DISABILITY",
    "PARTIALLY BLIND": "VISION DISORDER",
    "EYE SIGHT PROBLEM": "VISION DISORDER",

    "NO CHECKUP": "NIL",
    "NIL": "NIL"
}

In [9]:

df_exploded = df.assign(
    DISEASE=df['Diseases'].str.split(',')
).explode('DISEASE')

df_exploded['DISEASE'] = df_exploded['DISEASE'].str.strip()
df_exploded = df_exploded[df_exploded['DISEASE'].notna() & (df_exploded['DISEASE'] != '')]
df_exploded['DISEASE'] = df_exploded['DISEASE'].replace(disease_mapping)

In [10]:
df_exploded.head()

,Date,S. No.,Name,Age,Gender,Address,Phone Number,Blood Group,Food Preference,Diseases,Date Of Occurance,Duration,Profession,Working Hours,DISEASE
0,2025-06-11,1,ALIVIA PIPLAI,30.0,F,CHAKDAHA,8927200122,O+,NON VEG,"FATTY LIVER,DIGESTIVE",2025-03-01 00:00:00,3MONTHS,SERVICE,5-6 HRS.,FATTY LIVER
0,2025-06-11,1,ALIVIA PIPLAI,30.0,F,CHAKDAHA,8927200122,O+,NON VEG,"FATTY LIVER,DIGESTIVE",2025-03-01 00:00:00,3MONTHS,SERVICE,5-6 HRS.,DIGESTIVE
1,2025-06-11,2,BULBUL PIPLAI,63.0,F,CHAKDAHA,8927200122,O-,NON VEG,"OSTEOPORESIS,DYSENTRY",2023,LAST 2 YEARS,HOUSE WIFE,09-10 HRS.,OSTEOPORESIS
1,2025-06-11,2,BULBUL PIPLAI,63.0,F,CHAKDAHA,8927200122,O-,NON VEG,"OSTEOPORESIS,DYSENTRY",2023,LAST 2 YEARS,HOUSE WIFE,09-10 HRS.,DYSENTRY
2,2025-06-11,3,MONOTOSH PIPLAI,74.0,M,CHAKDAHA,8927200122,O+,NON VEG,"ATRIAL FIBRATION,HIGH BP. CHLOESTROL","2024 , 2016 , 2018","1 YR. ,11 YRS. , 7 YRS.",RETIRED,05-06 HRS.,ATRIAL FIBRATION

In [11]:
df_exploded['LOCALITY'] = df_exploded['Address'].astype(str).str.upper().str.strip()

In [12]:
# Step 6: Count affected persons per disease per locality
counts = df_exploded.groupby(['DISEASE', 'LOCALITY'])['Name'].count().reset_index()
counts = counts.rename(columns={'Name': 'Affected Persons'})

In [13]:
# Step 7: Total affected per disease
totals = counts.groupby('DISEASE')['Affected Persons'].sum().reset_index()
totals = totals.rename(columns={'Affected Persons': 'Total Affected'})

In [14]:
# Step 8: Merge and calculate % affected
merged = pd.merge(counts, totals, on='DISEASE')
merged['% Affected'] = (merged['Affected Persons'] / merged['Total Affected']) * 100

In [15]:
# Step 9: Summary stats: Average %, SD, SE
summary = merged.groupby('DISEASE')['% Affected'].agg(
    Average_Percent='mean',
    SE=lambda x: x.std() / np.sqrt(len(x))
).reset_index()

In [16]:
summary

                        DISEASE  Average_Percent         SE
0                       ALLERGY        33.333333   4.761905
1                    ARTHIRITIS        25.000000   8.333333
2                        ASTHMA        25.000000   6.838765
3              ATRIAL FIBRATION       100.000000        NaN
4                   BELLY UPSET       100.000000        NaN
5                  BLOOD CANCER       100.000000        NaN
6                BLOOD DISORDER        50.000000   0.000000
7                 BREAST CANCER       100.000000        NaN
8                    BRONCHITIS       100.000000        NaN
9            CALCIUM DEFICIENCY       100.000000        NaN
10                     CATARACT        33.333333   9.622504
11                  CHOLOESTROL        20.000000   9.149357
12            CHRONIC DYSENTERY       100.000000        NaN
13                 COLD & COUGH        33.333333  15.898987
14                 CONSTIPATION        33.333333  12.830006
15                         COPD        33.333333   0.000000
16                        COUGH        50.000000   0.000000
17                     DIABETES        20.000000   9.113793
18                    DIGESTIVE       100.000000        NaN
19                   DISABILITY       100.000000        NaN
20                     DYSENTRY       100.000000        NaN
21        ELECTROLYTE IMBALANCE       100.000000        NaN
22                  FATTY LIVER        50.000000  16.666667
23               FREQUENT FEVER        50.000000  16.666667
24         GALL BLADDER SURGERY        50.000000   0.000000
25       HAD APPENDIX OPERATION       100.000000        NaN
26                     HAIRFALL       100.000000        NaN
27                HEART DISEASE        25.000000   9.370695
28             HIGH CHOLESTEROL        50.000000   8.333333
29               HIGH URIC ACID       100.000000        NaN
30                 HYPERTENSION        33.333333  14.922512
31              IRON DEFICIENCY       100.000000        NaN
32               KIDNEY DISEASE        25.000000  13.070323
33                LIVER DISEASE        25.000000   6.818182
34                       LOW BP        50.000000  16.666667
35                NERVOUS ISSUE        50.000000   0.000000
36                          NIL        20.000000   9.263645
37                 OSTEOPORESIS        50.000000   0.000000
38                 OVARIAN CYST        50.000000  16.666667
39                         PAIN        50.000000  10.000000
40                         PCOS        25.000000  12.583057
41  RESPIRATORY TRACT INFECTION       100.000000        NaN
42                 SPINAL ISSUE        50.000000   0.000000
43                       STROKE       100.000000        NaN
44             THYROID DISORDER        20.000000   9.330915
45                        ULCER        50.000000  10.000000
46              VISION DISORDER       100.000000        NaN

In [82]:
# Step 10: Merge summary back
final = pd.merge(merged, summary, on='DISEASE')

In [85]:
final

,DISEASE,LOCALITY,Affected Persons,Total Affected,% Affected,Average_Percent,SD,SE,T-bar
0,ALLERGY,CHAKDAHA,2,7,28.571429,33.333333,8.247861,4.761905,7.000000
1,ALLERGY,NAIHATI,2,7,28.571429,33.333333,8.247861,4.761905,7.000000
2,ALLERGY,PALPARA,3,7,42.857143,33.333333,8.247861,4.761905,7.000000
3,ARTHIRITIS,CHAKDAHA,4,9,44.444444,25.000000,16.666667,8.333333,3.000000
4,ARTHIRITIS,NAIHATI,1,9,11.111111,25.000000,16.666667,8.333333,3.000000
...,...,...,...,...,...,...,...,...,...
101,THYROID DISORDER,PALPARA,21,48,43.750000,20.000000,20.864560,9.330915,2.143413
102,THYROID DISORDER,SIMURALI,4,48,8.333333,20.000000,20.864560,9.330915,2.143413
103,ULCER,CHAKDAHA,6,10,60.000000,50.000000,14.142136,10.000000,5.000000
104,ULCER,PALPARA,4,10,40.000000,50.000000,14.142136,10.000000,5.000000
105,VISION DISORDER,CHAKDAHA,2,2,100.000000,100.000000,NaN,NaN,NaN

In [83]:
# Per-locality t-score (optional — comment out if not needed)
# final['T-Bar'] = (final['% Affected'] - final['Average_Percent']) / final['SE']

# Compute T-bar (overall t-statistic for the disease)
summary['T-bar'] = summary['Average_Percent'] / summary['SE']

# Merge T-bar into final table
final = pd.merge(final, summary[['DISEASE', 'T-bar']], on='DISEASE')

In [84]:
final.head()

,DISEASE,LOCALITY,Affected Persons,Total Affected,% Affected,Average_Percent,SD,SE,T-bar
0,ALLERGY,CHAKDAHA,2,7,28.571429,33.333333,8.247861,4.761905,7.0
1,ALLERGY,NAIHATI,2,7,28.571429,33.333333,8.247861,4.761905,7.0
2,ALLERGY,PALPARA,3,7,42.857143,33.333333,8.247861,4.761905,7.0
3,ARTHIRITIS,CHAKDAHA,4,9,44.444444,25.000000,16.666667,8.333333,3.0
4,ARTHIRITIS,NAIHATI,1,9,11.111111,25.000000,16.666667,8.333333,3.0

In [87]:
final.to_excel("Final_Disease_Analysis_with_Tscore_4.xlsx", index=False)